@import url("header.css");
@import url("hero.css");
@import url("sections.css");
@import url("animations.css");
@import url("responsive.css");

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Inter:wght@300;400;500;600&display=swap');

:root{

--bg:#050505;
--bg2:#0d0d0d;

--text:#ffffff;
--gray:#9f9f9f;

--accent:#8d1018;

--glass:rgba(255,255,255,.04);

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

color:var(--text);

font-family:"Inter",sans-serif;

overflow-x:hidden;

}

/* Moon */

body::before{

content:"";

position:fixed;

top:-250px;

right:-180px;

width:700px;

height:700px;

border-radius:50%;

background:

radial-gradient(circle,
rgba(255,255,255,.12),
transparent 70%);

filter:blur(8px);

z-index:-2;

}

/* vignette */

body::after{

content:"";

position:fixed;

inset:0;

background:

radial-gradient(circle,
transparent 45%,
rgba(0,0,0,.7));

pointer-events:none;

z-index:-1;

}.header{

position:fixed;

top:0;

left:0;

width:100%;

height:82px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

background:rgba(5,5,5,.45);

backdrop-filter:blur(18px);

border-bottom:1px solid rgba(255,255,255,.05);

z-index:999;

}

.logo{

font-family:"Cinzel",serif;

font-size:28px;

letter-spacing:4px;

text-decoration:none;

color:white;

transition:.4s;

}

.logo:hover{

color:var(--accent);

}

.nav{

display:flex;

gap:30px;

align-items:center;

}

.nav a{

color:white;

text-decoration:none;

font-size:14px;

letter-spacing:2px;

opacity:.75;

transition:.3s;

}

.nav a:hover{

opacity:1;

color:var(--accent);

}

.lang-btn{

padding:12px 18px;

background:none;

border:1px solid rgba(255,255,255,.15);

color:white;

cursor:pointer;

transition:.35s;

}

.lang-btn:hover{

background:white;

color:black;

}

.burger{

display:none;

font-size:34px;

background:none;

border:none;

color:white;

cursor:pointer;

}